{% extends "site_base.html" %}
{% load static from staticfiles %}
{% load pinax_blog_tags %}
{% load i18n %}


{% block head_title %}Enlingo留西洋网{% endblock %}

{% block body_class %}page page-id-270 page-child parent-pageid-647 page-template-default full-width custom-background-empty wpb-js-composer js-comp-ver-4.9 vc_responsive no-js{% endblock %}

{% block body_base %}
    {% include "_messages.html" %}
            <div class="page-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <h1><a href="{%  url "home" %}">学习科目</a>：{{ areaofstudy.name }}</h1>
                        </div>
                        <div class="pathway col-md-4 col-sm-4 hidden-xs text-right">
                            <div class="breadcrumbs">
                                <a href="#" >Home</a> \ <span typeof="v:Breadcrumb">
                                <a href="#">course</a></span>
                            </div><!-- .breadcrumbs -->                
                        </div>
                    </div><!--/row-->
                </div><!--/container-->
            </div><!--/page-heading-->  
            <div id="body" >
                <div class="container">
                    <div class="content-pad-3x">
                        <div class="row">
                            <div id="content" class="col-md-12" role="main">
                                
                                <div class="courses-filter">
                                    <div class="courses-filter-part">
                                        <div class="course-label">国家 : </div>
                                        <div class="course-option">
                                            <div class="course-option-main">
                                                <span class="active">澳大利亚</span>
                                                <span>中国</span>
                                                <span>美国</span>
                                                <span>加拿大</span>
                                                <span>新西兰</span>
                                                <span>日本</span>
                                                <span>法国</span>
                                                <span>德国</span>
                                                <span>韩国</span>
                                                <span>新加坡</span>
                                            </div>
                                            <div class="course-option-add" style="display: none;">
                                                <span>香港</span>
                                                <span>意大利</span>
                                            </div>
                                        </div>
                                        <div class="course-more">更多<span class="text-arrow"></span></div>
                                    </div>
                                    <div class="courses-filter-part">
                                        <div class="course-label">省州 : </div>
                                        <div class="course-option">
                                            <div class="course-option-main">
                                                <span> 江苏</span>
                                                <span class="active"> 浙江</span>
                                                <span> 安徽</span>
                                                <span> 河北</span>
                                                <span> 四川</span>
                                                <span> 广东</span>
                                                <span> 湖北</span>
                                                <span> 湖南</span>
                                                <span> 福建</span>
                                                <span> 云南</span>
                                                <span> 澳门</span>
                                                <span> 台湾</span>
                                                <span> 香港</span>
                                                <span> </span>
                                                <span> </span>
                                                <span> </span>
                                                <span> </span>
                                                <span> </span>
                                                <span> </span>
                                                <span> </span>
                                                <span> </span>
                                            </div>
                                            <div class="course-option-add" style="display: none;">
                                                <span> </span>
                                                <span> </span>
                                            </div>
                                        </div>
                                        <div class="course-more">更多<span class="text-arrow"></span></div>
                                    </div>
                                    <div class="courses-filter-part">
                                        <div class="course-label">城市 : </div>
                                        <div class="course-option">
                                            <div class="course-option-main">
                                                <span> 杭州</span>
                                                <span> 北京</span>
                                                <span> 广州</span>
                                                <span> 深圳</span>
                                                <span> 重庆</span>
                                                <span> 成都</span>
                                                <span> 武汉</span>
                                                <span class="active"> 上海</span>
                                                <span> 长沙</span>
                                                <span> 天津</span>
                                                <span> 苏州</span>
                                                <span> 南京</span>
                                                <span> 福州</span>
                                                <span> 厦门</span>
                                                <span> 贵州</span>
                                                <span> 昆明</span>
                                                <span> 西安</span>
                                                <span> 昆山</span>
                                                <span> 嘉定</span>
                                            </div>
                                            <div class="course-option-add" style="display: none;">
                                                <span> </span>
                                                <span> </span>
                                            </div>
                                        </div>
                                        <div class="course-more">更多<span class="text-arrow"></span></div>
                                    </div>
                                    <div class="courses-filter-part">
                                        <div class="course-label">老师 : </div>
                                        <div class="course-option">
                                            <div class="course-option-main">
                                                <span class="active">澳大利亚，新西兰</span>
                                                <span>欧洲</span>
                                                <span>加美</span>
                                                <span>海龟</span>
                                                <span>其他</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="courses-filter-part courses-filter-part-last">
                                        <div class="course-label">开课时间 : </div>
                                        <div class="course-option">
                                            <input type="text" id="calendar"/>
                                        </div>
                                    </div>
                                </div> <!-- end filter -->

                                <article class="single-page-content">
                                    <div class="u_row">
                                        <div class="vc_row wpb_row vc_row-fluid">
                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                <div class="vc_column-inner ">
                                                    <div class="wpb_wrapper">
                                                        <div class="courses-list">
                                                            <h1 class="course-list-title">课程表</h1>
                                                            <div class="wrap-field">
                                                            <div class="wrap-field wrap-field-last"></div>
                                                            <table class="table course-list-table area-table">{% for course in courselist %}
                                                                {%  if forloop.first %}<thead class="main-color-1-bg dark-div">
                                                                    <tr>
                                                                        <th>课程名</th>
                                                                        <th>课程位子</th>
                                                                        <th>地区</th>
                                                                        <th>咨询顾问博客</th>
                                                                    </tr>
                                                                </thead> {% endif %}
                                                                <tbody>
                                                                <tr><td><b>国家: 中国</b></td><td><b>城市:{{  course.educationalinstitution.city }}</b></td></tr>
                                                                <tr>
                                                                        <td>
                                                                            <a href="{%  url "coursesearch:course" areaofstudy.pk course.pk  %}">{{ course.course_name }}</a>
                                                                        </td>
                                                                        <td><a href="{%  url "coursesearch:course" areaofstudy.pk course.pk  %}">{{ course.educationalinstitution }}</a></td>
                                                                        <td><a href="{%  url "coursesearch:course" areaofstudy.pk course.pk  %}">{{ course.educationalinstitution.campus }}</a></td>
                                                                        <td><a href="{%  url "coursesearch:course" areaofstudy.pk course.pk  %}">50</a></td>
                                                                    </tr>
                                                                </tbody>{%  endfor %}
                                                            </table>
                                                        </div><!--/courses-list-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--/u_row-->
                                </article>
                            </div><!--/content-->
                        </div><!--/row-->
                    </div><!--/content-pad-3x-->
                </div><!--/container-->
            </div><!--/body-->
    {% endblock %}

{% block extra_body %}
{%  include "_mobile.html" %}

            <!-- For Date Picker -->
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.common.min.css" %}">
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.rtl.min.css" %}">
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.dataviz.min.css" %}">
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.dataviz.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/date-picker/kendo.mobile.all.min.css" %}">

    <script type='text/javascript' src="{% static "js/date-picker/kendo.all.min.js" %}"></script>
    <script type='text/javascript' src="{% static "js/date-picker/angular.min.js" %}"></script>
    <script type='text/javascript' src="{% static 'js/date-picker/datepicker.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/date-picker/wp-embed.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/date-picker/learndash_template_script.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/date-picker/js_composer_front.min.js' %}"></script>

{% endblock %}

